* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    user-select: none;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
  }
  
  /* Style the header */
  .header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
  }

  .header-box {
    padding: 32px;
    width: 100%;
  }

  .header-box-2 {
    padding: 25px;
    width: 100%;
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(139, 139, 148, 0.25) 0 50px 100px -20px,
        rgb(0 0 0/ 30%) 0 30px 60px -30px;
    border: 5px solid rgba(139, 139, 148, 0.04);
    z-index: 100;
  }

  nav .nav-list {
    display: flex;
  }

  nav .nav-item {
    line-height: 70px;
  }

  .btn {
    cursor: pointer;
    padding: 18px 24px;
    margin: auto 0;
    border-radius: 8px;
    text-align: center;
    position: relative;
    right: 10px;
  }

  .active-btn {
    padding: 18px 24px;
    margin: auto 0;
    border-radius: 8px;
    text-align: center;
    position: relative;
    right: 10px;
    background:  rgba(243, 112, 90, 1);
    z-index: 25;
  }
  
  .radio-display {
    display: none;
  }

  .btn .btn-icon {
    color: #6374F2;
    font-size: 1em;
    transform: translateX(100%);
    transition: all .3s;
    /* display: none; */
  }

  .btn .btn-text {
    color: slategray;
    font-family: Roboto; 
    /* line-height: 20px; */
    font-size: 1.2em;
    font-weight: 500;
    /* opacity: 0; */
    /* display: none; */
    transition: all .2s;
  }

  .btn .active-text {
    color: #f1f1f1;
  }

  .btn .active-icon {
    
    display: none;
  }

  input:checked ~ .btn {
    cursor: default;
    background:  rgba(243, 112, 90, .5);
    
  }
  
  input:checked ~ .btn .btn-text {
    color: #f1f1f1;
    transform: translateX(-5px);
  }
  
 #logo {
    position: relative;
    justify-content: space-between;
    width: 80px;
    margin: auto;
    left: 10px;
    display: block
  }

  /* Container for flexboxes */
  .row {
    display: flex;
  }
  
  /* Create two equal columns */
  .column {
    flex: 1;
    padding: 10px;
  }

  /* Create one unequal column */
  .column-right {
    flex: 3;
    padding: 10px;
    height: 100vh; 
  }

  /* content home page MOBILE DESIGN */
  .c-one {  /* column 1 */
  background-color: rgba(99, 116, 242, 1);
  text-align: center;
  z-index: -20;
  }

  div h1 {
    margin: 4px;
    color: #f1f1f1;
  }

  div h4 {
    font-family: sans-serif;
    margin: 20px auto;
    color: #f3f3f7;
    text-align: center;
    font-size: 16px;
    max-width: 410px;
    position: relative;

  }

  div h4::before {  /* line before h4 tag */
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #f3f3f7;
    left: 15px;
    top: 50%;
    position: absolute;
  }

  .c-two { /* column two */
   display: flex;
   justify-content: center;
   text-align: center;
   position: relative;
   background-color: rgba(99, 116, 242, 1);
   z-index: -19
  }

  .product-btn {
    width: 65vw;
    height: 300px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 0;
    justify-content: center;
    text-align: center;
    border-radius: 20px 40px;
    border: 1px transparent #706e6911;
    border-style: outset;
    background: radial-gradient(circle, #fefdfc 0%, #f3f3f7 100%);
  }

  button {
    flex-direction: column;
    display: flex;
    margin: 4px;
    padding: 10px;
    width: 50vw;
    justify-content: center;
    height: 50px;
    border-radius: 10px 20px;
    border: 4px white;
    border-style: outset;
    margin-left: auto;
    margin-right: auto;
    transition: all .2s ease-in-out;
    background-color: white;
  }

  button p em{
    font-family: roboto;
    font-weight: 1000;
    letter-spacing: .15em;
    color: slategray;
    
  }

  button:hover {
    transform: scale(.95);
  }
  
    
  .center {  /* column 3 */
    text-align: center;
  }

  #hero-mobile {
   width: 85vw;
   z-index: -19;
  }

  hr {
    margin: auto;
  }

  .dotted {
    border-top: 2px dashed slategray;
    width: 180px;
  }

  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    width: 100%;
    position: absolute;
    padding: 10px;
    text-align: sticky;
    z-index: 99;
  }
  
  /* Responsive design */
  @media (max-width: 1253px) {
    .btn-text {
      display: none;
    }

    .btn .active-icon {
      display: inline;
      color: #f1f1f1;
    }
  } 

  @media (max-width: 700px) {
    .row {
      flex-direction: column;
      height: 100vh;
    }

    .mobile-responsive {
      display: none;
    }
  }