* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .header {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  nav {
    display: inherit;
    justify-content: inherit;
    width: 80%;
    background-color: aqua;
  }
  
  /* Container for flexboxes */
  .row {
    display: flex;
  }
  
  /* Create two equal columns */
  .column {
 
    flex: 1;
    padding: 10px;
    height: 100vh; 
  }

  /* Create one unequal column */
  .column-right {
    flex: 3;
    padding: 10px;
    height: 100vh; 
  }
  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: sticky;
    z-index: 100;
  }
  
  /* Responsive design */
  @media (max-width: 700px) {
    .row {
      flex-direction: column;
      height: 100vh;
    }
  }