@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Condensed&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  user-select: none;
}

/* rgba(99, 116, 242, 1); */

body {
  height: 100vh;
}

/* column layout */
.column-height {
  height: 750px;
}

.column-height_100 {
  height: 100dvh;
}

.column-height_80 {
  height: 80dvh;
}

.column-height_50 {
  height: 50dvh;
}

.column-height_20 {
  height: 20dvh;
}

/* Create equal columns */
.column {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.column-position {
  /* column two */
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 10;
}

.relative {
  position: relative;
  z-index: -10;
}

/* Create unequal column */
.column-unequal {
  flex: 3;
  padding: 10px;
}

/* column color */
.primary_blue {
  background-color: #5C7AF2;
}

.secondary_blue {
  background-color: #42526E;
}

.primary_orange {
  background-color: #E97060;
}

.neutral_white {
  background-color: #E7E5DF;
}

.shade_charcoal {
  background-color: #454851;
}

.gradient_blue {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 60px, rgba(92, 122, 242, 1) 1%);
}

/* row layout */
.row {
  display: flex;
}

/* Style the header */
.header {
  padding: 20px;
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: center;
}

.header_box {
  width: 100%;
  height: 40dvh;
  position: relative;
  z-index: -5;
}

.header_box_2 {
  width: 100%;
  height: 200px;
  position: relative;
  z-index: -5;
}

.z-index-neg {
  z-index: -10;
}

/* navbar styling */
nav {
  display: flex;
  justify-content: space-between;
  width: 85%;
  max-width: 1200px;
  height: 80px;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  border: 5px solid rgba(139, 139, 148, 0.04);
  z-index: 100;
  position: sticky;
}

nav .nav-list {
  display: flex;
}

nav .nav-item {
  line-height: 70px;
}

.btn {
  cursor: pointer;
  padding: 18px 24px;
  margin: auto 0;
  border-radius: 8px;
  text-align: center;
  position: relative;
  right: 10px;
}

.active-btn {
  padding: 18px 24px;
  margin: auto 0;
  border-radius: 8px;
  text-align: center;
  position: relative;
  right: 10px;
  background: rgba(243, 112, 90, 1);
  z-index: 10;
}

.radio-display {
  display: none;
}

.btn .btn-icon {
  color: #5c7af2;
  font-size: 1em;
  transform: translateX(100%);
  transition: all .3s;
}

.btn .btn-icon:hover {
  color: rgba(243, 112, 90, 1);
  font-size: 2em;
}

.btn .btn-icon:hover~.btn-text {
  /* increase size of icon whilst making the text disappear */
  font-size: 1.1em;
  opacity: 0;
}

.btn .btn-text {
  color: slategray;
  font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 1.2em;
  font-weight: 500;
  transition: all .2s;
}

span a {
  text-decoration: none;
  color: slategray;
}

.btn .active-text {
  color: #f1f1f1;
}

.btn .active-icon {
  display: none;
}

input:checked~.btn {
  cursor: default;
}

#logo {
  position: relative;
  justify-content: space-between;
  width: 80px;
  height: auto;
  margin: auto;
  left: 10px;
  display: block
}

/* home page */

.main_headings h1 {
  margin-top: 115px;
  margin-bottom: 20px;
  font-family: 'PT Sans', 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
  letter-spacing: 1.5px;
  font-size: 35px;
  color: #E7E5DF;
}

.main_headings h2 {
  margin-bottom: 20px;
  font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
  border-bottom: 1px solid #e7e5df61;
  width: 290px;
  line-height: 30px;
  margin-right: auto;
  margin-left: auto;
  color: #E7E5DF;
}

.main_headings p {
  font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
  color: #e7e5df87 !important; 
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  font-style: italic;
}

#home_box {
  width: 50vw;
  height: 350px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px 40px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-style: outset;
  background: url(../images/web/robot.jpeg) no-repeat;
  background-size: 600px;
  background-position: 102% 55%;
  box-shadow: 5px 10px #42526e47;
  overflow: hidden;
  background-color: white;
}

.btn-landing-page {
  flex-direction: column;
  display: flex;
  margin: 5px;
  justify-content: center;
  padding: 10px;
  width: 13vw;
  height: 50px;
  border-radius: 10px 20px;
  border: 4px white;
  border-style: double;
  margin-left: 25px;
  margin-top: 259px;
  margin-right: 10px;
  transition: all .2s ease-in-out;
  background-color: #cdddfdf2;
  float: left;
}

#square-btn {
  margin-right: 125px;
  margin-top: 27px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  float: right;
  font-size: 66px;
  color: rgb(243 112 90 / 1);
  display: none;
}


button em {
  font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
  font-weight: 1000;
  letter-spacing: .15em;
  color: #454851;
  font-size: medium;

}

button:hover {
  transform: scale(.95);
  cursor: pointer;
}

#hero {
  width: 100px;
}

.chevron {
  /* page effect at the bottom of column two */
  width: 300px;
  height: 300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 140px;
  z-index: -2;
}

.chevron::after,
.chevron::before {
  position: absolute;
  content: '';
  height: 150px;
  width: 150px;
  background: #5c7af2;
  z-index: -2;
  bottom: 40px;
}

.chevron::before {
  right: 100%;
  transform: skew(0, 20deg);
  right: 150px;
}

.chevron::after {
  transform: skew(0, -20deg);
}

/* Section About */
.box-about {
  width: 80%;
  height: 550px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 26px;
  z-index: -2;
  text-align: center;
  border-radius: 20px 40px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-style: outset;
  background: rgba(156, 150, 150, 0.18);
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);

}

.circle-container {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: rgb(0 0 0 / 18%);
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
  z-index: -1;
  border: inset white .25px;
}

.circle-inner {
  transform: translate(44%, 44%);
  width: 80px;
  height: 80px;
  background-color: #5c7af2;
  border-radius: 50%;
}

.about-icon {
  font-size: xxx-large;
  display: block;
  border-radius: 50%;
  text-align: center;
  padding: 15px;
  color: rgba(0, 0, 0, 0.18);
}

.h-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.l-container {
  width: 40%;
  position: relative;
  bottom: -120px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: -5;
  margin-bottom: -50px;
}

.l-container>h2 {
  color: #f1f1f1;
  font-family: 'PT Sans', 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
}

.p-container h3 {
  color: #cacbd4;
  margin-top: 20px;
  border: 1px inset rgb(239 229 229 / 20%);
  border-radius: 2px;
  padding: 10px;
  font-family: 'PT Sans', 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
}

.p-container p {
  font-size: .8em;
  line-height: 24px;
  font-weight: 600;
  color: #f1f1f1bd;
  letter-spacing: .15px;
  font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
}

#about-logo {
  font-size: 40px;
  font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
}

#robot {
  padding: 10px;
  color: rgba(0, 0, 0, 0.18);
}

.p-container {
  width: 90%;
  height: auto;
  margin: 10px auto;
  position: relative;
  overflow-wrap: break-word;

}

/* Team Page */
.large-container {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 80px;
  z-index: -1;
  background: radial-gradient(circle at 50% 120%, #062745, rgba(0, 0, 0, 0.18) 10%, rgba(92, 122, 242, 1) 80%, #cdddfd 100%);
}

.medium-container {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
  z-index: -1;
  background: radial-gradient(circle at 50% 120%, #062745, rgba(0, 0, 0, 0.18) 10%, rgba(92, 122, 242, 1) 80%, #cdddfd 100%);
}

.small-container {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 8px;
  z-index: -1;
  background: radial-gradient(circle at 50% 120%, #062745, rgba(0, 0, 0, 0.18) 10%, rgba(92, 122, 242, 1) 80%, #cdddfd 100%);
}

.smaller-container {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: -1;
  display: block;
  background: #000;
  background: radial-gradient(circle at 50% 120%, #062745, rgba(0, 0, 0, 0.18) 10%, rgba(92, 122, 242, 1) 80%, #cdddfd 100%);

}

#scroll_img {
  background: url(../images/web/interface.jpeg) center center / cover no-repeat;
  background-size: 96%;
  background-position: 89% 130%;
  z-index: -10;
}

#pro-backdrop {
  padding: 42px;
  position: relative;
  z-index: -10;
  background: linear-gradient(180deg, rgba(92, 122, 242, 1) 9%, rgba(68, 82, 109, 1) 85%);
}

#team-boss {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: relative;
  top: 5px;
  right: 0px;
}

#prompt-pros-1 {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: relative;
  top: 1px;
  right: 1px;
}

#prompt-pros-2 {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: relative;
  top: 1px;
  right: 1px;
}

#prompt-pros-3 {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: relative;
  top: 2.5px;
  right: 0px;
}

#pro_heading_box {
  width: 250px;
  position: absolute;
  top: -110px;
}

#prompt_pro_text_box {
  font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
  border-bottom: 3px solid #495cd1;
  text-align: right;
  right: 12px;
  position: relative;
  top: 41px;
  line-height: 50px;
  letter-spacing: 2px;
  width: 80vw;
}

#prompt_pro_text {
  font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 2em;
  width: 43px;
  color: #495cd1;
}

#text_pros {
  letter-spacing: -1px;
}

#text_s {
  font-size: .8em;
}

#team_heading_who {
  color: #5c7af2;
  position: relative;
  float: left;
  font-size: 7rem;
  font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
  top: 8px;
  left: -5px;
}

#team_heading_are {
  color: #42526e;
  position: relative;
  float: left;
  font-size: 4rem;
  font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
  top: -42px;
  left: 48px;
}

#team_heading_we {
  color: rgba(243, 112, 90, 1);
  position: relative;
  float: left;
  font-size: 3rem;
  font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
  top: 5px;
  left: 12px;
}

#article_pro {
  color: #42526e;
  font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
  top: 17px;
  position: absolute;
  line-height: 15px;
  font-size: 12px;
  width: 122px;
  right: -2px;
  height: 100px;
  font-weight: 900;
  letter-spacing: .5px;
}

aside a { 
  color: rgba(243, 112, 90, 1);
  font-size: 17px;
}

div aside em {
  font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
  color: #42526e;
  font-weight: 900;
  letter-spacing: .5px;
  position: relative;
  top: -5px;
  font-size: 15px;
  display: grid;
}


#btn-get-started {
  flex-direction: column;
  display: flex;
  margin: 4px;
  padding: 10px;
  width: 113px;
  justify-content: center;
  height: 60px;
  border-radius: 20px;
  border: 4px rgb(243 112 90 / 47%);
  border-style: outset;
  margin-left: auto;
  margin-right: auto;
  transition: all .2s ease-in-out;
  background-color: transparent;
  color: #f1f1f1;
  position: relative;
  font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
  letter-spacing: 1.5px;
  bottom: 60px;
  text-align: center;
  background-color: rgba(243, 112, 90, 1);
  font-weight: bold;
}

#btn-get-started:hover {
  background-color: rgb(245, 87, 60) ;
}

.margin-bottom {
  margin-bottom: 150px;
}

/* Roadmap & Services Section */

#roadmap-h1 {
  font-family: 'PT Sans', 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
  color: #5c7af2;
  position: relative;
  font-size: 4rem;
  line-height: 95px;
  letter-spacing: 08px;
  bottom: -9px;
  border-top: 2px solid #495cd1;
  padding: 35px;
}

.roadmap-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  position: relative;
  z-index: -2;
  /* box-shadow: 0 -100px #cacbd4;  */
}

.roadmap {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.roadmap ul li {
  padding: 20px;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #495cd1
}

.roadmap ul li:last-child {
  margin-bottom: 0;
}

.roadmap-text h2 {
  font-family: 'PT Sans', 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.roadmap-text p {
  font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  line-height: 23px;
  font-weight: 300;
  letter-spacing: .5px;
}

.roadmap-text .tagline {
  color: #f3f3f7ab;
  font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.roadmap-text .tagline em {
  padding: 2px;
  font-weight: 900;
  font-family: 'Monospace', 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
  border-radius: 5px 5px 0;
  background-color: rgba(243, 112, 90, 1);
  border: 1px solid #44526d57;
  color: rgb(255, 255, 255);
}

/* Pricing */

#pricing_header {
  z-index: -2;
  color: #f1f1f1;
  position: relative;
  top: -221px;
  border-top: 2px solid #495cd1;
}

.pricing-container {
  max-width: 975px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/web/pricing.webp) center center / cover no-repeat fixed;
  background-size: 85%;
  font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
}

.plan {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  width: 95%;
  box-shadow: 5px 40px 30px 5px rgb(0 0 0 / 18%);
  background-color: rgba(255, 255, 255, 0.977);
  margin-bottom: 150px;
  border: 1px solid #d2d2d259;
}


.plan table tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.table-text {
  text-align: center;
}

.table-text td {
  text-align: center;
}

tr,
td {
  text-align: left;
}

th,
td {

  padding: 10px;
}

.price-btn {
  padding: 9px 10px;
  margin: auto 0;
  border-radius: 8px;
  text-align: center;
  background: rgba(243, 112, 90, 1);
}

.price-btn a {
  color: #f1f1f1;
}

/** form **/
.form_header_box {
  width: 100%;
  padding: 30px;
}

.get-started {
  max-width: 500px;
  padding: 30px;
  text-align: left;
  border-radius: 20px 40px;
  margin-bottom: 50px;
  margin-top: 45px;
  margin-right: 5%;
  position: static;
  margin-left: 5%;
}

.form-input {
  background: transparent;
  color: #f1f1f1;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
}

form input[type=checkbox] {
  accent-color: #e97060;
  color: #f1f1f1;
}

form input[type=radio] {
  accent-color: #e97060;
  color: #f1f1f1;
}

form h2 {
  font-family: 'PT Sans';
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-top: -14px;
  padding-bottom: 20px;
  color: #f1f1f1;
}

form h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'PT Sans';
  letter-spacing: 2px;
  color: #f1f1f1;
}

form label {
  padding: 5px;
  font-family: 'roboto';
  color: #f1f1f1;
}

form input {
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 80px;
  color: #f1f1f1;
  font-family: 'roboto';
  background-color: transparent;
  border: 1px solid #f1f1f1;
  resize: none;
}

#form-submit {
  width: 100px;
  height: 40px;
  background-color: rgb(243 112 90 / 1);
  font-family: 'roboto';
  margin-top: 10px;
  border: 1px solid rgba(243, 112, 90, 1);
  color: #f1f1f1;
  border-radius: 5px;
}

#form-submit:hover {
  background-color: rgb(255, 84, 54);
  border: 1px solid rgb(255, 84, 54);
}

.background-img {
  background: url("../images/web/form_1.png") center center / cover no-repeat;
  background-size: 40%;
  background-position: 86% 40%;
  background-color: rgb(92 122 243);
}

/* footer */
.footer {
  width: 100%;
  padding: 30px;
  border-top: 1px solid #e97060;
  background: #e97060;
  color: #f1f1f1;

}

/* Responsive design (min-width) */
@media screen and (min-width: 1599px) {
  .btn-landing-page {
    clear: both;
    margin-top: 39px;
    margin-left: 46px;
  }

  #btn-get-started {
    bottom: 45px;
  }

  .pricing-container {
    background-size: 60%;
  }

}

@media screen and (min-width: 700px) {
  form h2 {
    margin-top: 70px;
  }
}

@media screen and (min-width: 1000px) {
  form h2 {
    margin-top: -17px;
  }
}

@media screen and (min-width: 640px) {
  #pricing_header {
    padding-top: 20px;
  }

}

@media screen and (min-width: 335px) {
  .roadmap:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: #495cd1;
  }

  .roadmap ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }

  .roadmap ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }

  .roadmap ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }

  .roadmap ul li::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #495cd1;
    top: 0px;
  }

  .roadmap ul li:nth-child(odd)::after {
    transform: translate(50%, -50%);
    right: -30px;
  }

  .roadmap ul li:nth-child(even)::after {
    transform: translate(-50%, -50%);
    left: -30px;
  }

  .roadmap-text .tagline {
    position: absolute;
    top: -30px;
  }

  .roadmap ul li:hover::after {
    background-color: rgba(243, 112, 90, 1);
  }
}

/* Responsive design for ipad & mobile (max-width) */
@media screen and (max-width: 1253px) {
  .btn-text {
    display: none;
  }

  .btn .active-icon {
    display: inline;
    color: #f1f1f1;
  }
}

@media screen and (max-width: 976px) {
  .btn-landing-page {
    width: 12vw;
    margin-right: 4px;
  }

  #home_box {
    background-size: 550px;
    background-position: 43% 55%;
  }
}

@media screen and (max-width: 808px) {
.row {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 780px) {
  #home_box {
    background-size: 645px;
    background-position: 31% 55%;
  }
}

@media screen and (max-width: 700px) {
  #home_box {
    width: 90vw;
    height: 45%;
    background-size: 600px;
    background-position: 29% 60%;
  }

  .btn-landing-page {
    padding: 10px;
    width: 27vw;
    height: 50px;
    border-radius: 10px 20px;
    border: 4px white;
    border-style: double;
    margin-left: auto;
    margin-top: 245px;
    margin-right: 14px;
    transition: all .2s ease-in-out;
    background-color: #cdddfdf2;
    float: right;
  }

  .chevron {
    width: 300px;
    height: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 124px;
    z-index: -9;
    margin-top: 0;
  }

  button em {
    font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
    font-weight: 1000;
    letter-spacing: .15em;
    color: #062745;
    font-size: medium;
  }

  .row_revert {
    display: flex;
    flex-direction: inherit;
  }

  nav .nav-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgb(251, 247, 247);
    border-radius: 0 0 10px 10px;
    border-left: 4px solid rgb(139 139 148 / 20%);
    border-right: 4px solid rgb(139 139 148 / 20%);
    border-bottom: 4px solid rgb(139 139 148 / 20%);
  }

  .border-top {
    border-top: 1px solid rgba(144, 140, 140, 0.1);
  }

  nav ul li:hover {
    background-color: rgba(139, 139, 148, 0.04);
  }

  /* :has pseudo slector may not have cross browser support (enables drop down menu burger bar is clicked). I have tested on a samsung and works - apple product tested and failed */
  nav:has(#input-1:checked) .nav-list {
    display: block;
  }

  nav:has(#input-1:checked) .toggle-text {
    display: inline;
  }

  .get-started {
    max-width: 699px;
    padding: 42px;
    text-align: left;
    border-radius: 28px;
    margin-bottom: auto;
    margin-top: 15px;
    margin-right: auto;
    position: static;
    margin-left: auto;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .background-img {
    background-size: 85%;
    background-position: 40% 95%;
  }

  #landing-text {
    width: 100vw;
    padding: 50px;
    position: absolute;
    top: -73px;
    z-index: 20;
    font-size: .55em;
  }

  .h-container {
    float: left;
  }

  form h2 {
    margin-top: 22px;
  }
}

@media screen and (max-width: 505px) {
  .btn-landing-page {
    width: 24vw;
  }

  .chevron {
    bottom: 179px;
  }
}

@media screen and (max-width: 375px) {
  .chevron {
    width: 300px;
    height: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 221px;
    z-index: -9;
    margin-top: 0;
  }

  #home_box {
    background-size: 415px;
    background-position: 44% 10%;
  }

  .btn-landing-page {
    margin-top: 207px;
    margin-right: 7px;
    width: 27vw;
    float: right;
  }

  #btn-get-started {
    bottom: 40px;
  }

  .header_box {
    height: 250px;
  }
}

@media screen and (max-width: 320px) {
  .chevron {
    display: none;
  }

  .row_revert {
    flex-direction: column;
  }

  th, td {
    padding: 2px;
    font-size: 12px;
  }

}