@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Condensed&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  user-select: none;
}

/* rgba(99, 116, 242, 1); */

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  height: 100vh;
}

/* Style the header */
.header {
  padding: 20px;
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: center;
}

.header-box {
  padding: 32px;
  width: 100%;
  position: relative;
  z-index: -100;
}

.divider-box {
  text-align: center;
  padding: 25px;
  width: 100%;
  top: 0;
  z-index: 1;
}

.page-break {
  position: relative;
  text-align: center;
  padding: 25px;
  height: 250px;
  width: 100%;
  z-index: -10;
}

/* position */

.relative {
  position: relative;
}

/* navbar styling */
nav {
  display: flex;
  justify-content: space-between;
  width: 85%;
  max-width: 1200px;
  height: 80px;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  border: 5px solid rgba(139, 139, 148, 0.04);
  z-index: 100;
  position: sticky;
}

nav .nav-list {
  display: flex;
}

nav .nav-item {
  line-height: 70px;
}

.btn {
  cursor: pointer;
  padding: 18px 24px;
  margin: auto 0;
  border-radius: 8px;
  text-align: center;
  position: relative;
  right: 10px;
}

.active-btn {
  padding: 18px 24px;
  margin: auto 0;
  border-radius: 8px;
  text-align: center;
  position: relative;
  right: 10px;
  background: rgba(243, 112, 90, 1);
  z-index: 10;
}

.radio-display {
  display: none;
}

.btn .btn-icon {
  color: #5c7af2;
  font-size: 1em;
  transform: translateX(100%);
  transition: all .3s;
  /* display: none; */
}

.btn .btn-icon:hover {
  color: rgba(243, 112, 90, 1);
  font-size: 2em;
}

.btn .btn-icon:hover~.btn-text {
  /* increase size of icon whilst making the text disappear */
  font-size: 1.1em;
  opacity: 0;
}

.btn .btn-text {
  color: slategray;
  font-family: Roboto, sans-serif, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  transition: all .2s;
}

span a {
  text-decoration: none;
  color: slategray;
}

.btn .active-text {
  color: #f1f1f1;
}

.btn .active-icon {
  display: none;
}

input:checked~.btn {
  cursor: default;
}

#logo {
  position: relative;
  justify-content: space-between;
  width: 80px;
  margin: auto;
  left: 10px;
  display: block
}

/* column layout */
.column-height {
  height: 900px;
}

/* Create equal columns */
.column {
  flex: 1;
  padding: 10px;
  text-align: center;
  z-index: -5;
}

/* Create unequal column */
.column-unequal {
  flex: 3;
  padding: 10px;
}

/* row layout */
.row {
  display: flex;
}

/* column color primary */
.color-prime {
  background-color: #5c7af2;
}

/* column color secondary */
.color-second {
  background-color: #42526e;

}

/* color blank */
.blank-color {
  color: white;
}

/* Mobile First Design - content home page */
div div h1 {
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  letter-spacing: .5px;
  margin: 4px;
  color: #f1f1f1;
  /* column one */
}

div h4 {
  font-family: Roboto, sans-serif, Arial, Helvetica, sans-serif;
  margin: 20px auto;
  color: #f3f3f7;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  max-width: 410px;
  position: relative;
  z-index: 0;

}

div h4::before {
  /* line before h4 tag */
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #f3f3f7;
  left: 10px;
  top: 50%;
  position: absolute;
}

.column-position {
  /* column two */
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 550px;
  z-index: -2;
}

.drop-shadow {
  box-shadow: 5px 100px #42526e;
}

.blur-box {
  width: 65vw;
  height: 300px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 26px;
  z-index: 2;
  justify-content: center;
  text-align: center;
  border-radius: 20px 40px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-style: outset;
  background: rgba(0, 0, 0, 0.18);
  backdrop-filter: saturate(180%) blur(10px);
}

button {
  flex-direction: column;
  display: flex;
  margin: 4px;
  padding: 10px;
  width: 50vw;
  justify-content: center;
  height: 50px;
  border-radius: 10px 20px;
  border: 4px white;
  border-style: outset;
  margin-left: auto;
  margin-right: auto;
  transition: all .2s ease-in-out;
  background-color: white;
}

button em {
  font-family: Roboto, sans-serif, Arial, Helvetica, sans-serif;
  ;
  font-weight: 1000;
  letter-spacing: .15em;
  color: slategray;

}

button:hover {
  transform: scale(.95);
  cursor: pointer;
}

.overlay-btn {
  position: absolute;
  text-align: center;
  justify-content: center;
  margin-top: 230px;
  z-index: 2;
}

#square-btn {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  width: 15vw;
  height: 50px;
  left: 18vw;
  font-size: 2rem;
  color: #5c7af2;
}

#landing-text {
  width: 80vw;
  padding: 50px;
  position: absolute;
  top: -65px;
  z-index: 20;
  font-size: .75em;
  font-family: roboto;
  color: #495cd1;
}

.chevron {
  /* page effect at the bottom of column two */
  border: 1px transparent rgba(246, 239, 239, 0);
  width: 300px;
  height: 300px;
  position: absolute;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  bottom: -3.5em;

}

.chevron::after,
.chevron::before {
  position: absolute;
  content: '';
  height: 150px;
  width: 150px;
  background: #5c7af2;
  z-index: 1;
  bottom: 40px;
}

.chevron::before {
  right: 100%;
  transform: skew(0, 20deg);
  right: 150px;
}

.chevron::after {
  transform: skew(0, -20deg);
}

/* page break */
.page-break h2 {
  bottom: -150px;
  position: relative;

}

/* Section About */
.box-about {
  width: 80%;
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: 26px;
  z-index: 0;
  justify-content: center;
  text-align: center;
  border-radius: 20px 40px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-style: outset;
  background: rgba(156, 150, 150, 0.18);
  /* background: rgb(91 122 241 / 40%); */
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
}

.circle-container {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: rgb(0 0 0 / 18%);
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
  z-index: -1;
  border: inset white .25px;
}

.circle-inner {
  transform: translate(44%, 44%);
  width: 80px;
  height: 80px;
  background-color: #5c7af2;
  border-radius: 50%;
}

.about-icon {
  font-size: xxx-large;
  display: block;
  border-radius: 50%;
  text-align: center;
  padding: 15px;
  color: rgba(0, 0, 0, 0.18);
}

.h-container {
  width: 50%;
  height: 150px;
  /* border: 1px solid rgb(23, 103, 184); */
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50px;
  text-align: center;
  display: flex;
}

.l-container {
  height: 60%;
  width: 40%;
  /* border: 2px solid greenyellow; */
  position: relative;
  bottom: -50px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.l-container>h2 {
  top: 30px;
  color: #f1f1f1;
  font-family: PT Sans, Roboto, sans-serif, Arial, Helvetica, sans-serif;
}

.p-container h3 {
  color: #cacbd4;
  margin-top: 20px;
  border: 1px inset rgb(239 229 229 / 20%);
  border-radius: 2px;
  padding: 10px;
  font-family: PT Sans, Roboto, sans-serif, Arial, Helvetica, sans-serif;
}

.p-container p {
  font-size: .8em;
  line-height: 24px;
  font-weight: 600;
  color: #f1f1f1bd;
  letter-spacing: .15px;
  font-family: Roboto, sans-serif, Arial, Helvetica, sans-serif;
}

#about-logo {
  font-size: 40px;
  font-family: Roboto, sans-serif, Arial, Helvetica, sans-serif;
}

#robot {
  padding: 10px;
  color: rgba(0, 0, 0, 0.18);
}

/* div h2 {
  text-align: center;
} */

.p-container {
  width: 90%;
  height: auto;
  margin: 10px auto;
  position: relative;
  overflow-wrap: break-word;

}

/* page-break shape */
.diagonal {
  position: relative;
  z-index: -20;
  padding: 25px;
  height: 250px;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
}

/* hero image */

#mobile-hero {
  width: 108%;
  position: relative;
  border-radius: 30px;
  top: -233px;
  z-index: 2;
  opacity: 0;
}

/* Team Page */
.large-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
  z-index: -1;
  background: radial-gradient(circle at 50% 120%, rgba(243, 112, 90, 1), rgb(255, 255, 255) 10%, #5c7af2 80%, #9fd4fb 100%);
}

.medium-container {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
  z-index: -1;
  background: radial-gradient(circle at 50% 120%, rgba(99, 116, 242, 1), #fff 10%, #e97060 80%, rgb(255, 255, 255) 100%);
}

.small-container {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 100px;
  z-index: -1;
  background: radial-gradient(circle at 50% 120%, #5092a8, #e25c2a 10%, #055194 80%, #579ab3 100%);
}

.smaller-container {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 100px;
  z-index: -1;
  display: block;
  background: #000;
  background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);

}

#scroll_img {
  background: url(../images/web/interface.jpeg) center center / cover no-repeat;
  background-size: 96%;
  background-position: 89% 130%;
  z-index: -10;
}

#pro-backdrop {
  max-width: 500px; 
  padding: 42px;
  /* text-align: left; */
  border-radius: 20px 90px 0 0;
  /* margin-bottom: 20px; */
  /* margin-top: 15px; */
  /* margin-right: 20px; */
  position: relative;
  /* margin-left: 20px; */
  /* height: 95dvh; */
  background-color: #5c7af2;
  z-index: -10;
}

#team-boss {
  width: 150px;
  max-height: 150px;
  border-radius: 50%;
  position: relative;
  top: 6px;
  right: 1px;
}

#prompt-pros-1 {
  width: 100px;
  max-height: 100px;
  border-radius: 50%;
  position: relative;
  top: 0px;
  right: 1px;
}

#prompt-pros-2 {
  width: 100px;
  max-height: 100px;
  border-radius: 50%;
  position: relative;
  top: 0px;
  right: 1px;
}

#prompt-pros-3 {
  width: 100px;
  max-height: 100px;
  border-radius: 50%;
  position: relative;
  top: 2px;
  right: 1px;
}

#pro_heading_box {
  /* border: 1px solid blue; */
  width: 80%;
  position: absolute;
  height: 500px;
  top: -416px;
  /* margin-left: auto; */
  /* margin-right: 4px; */
  left: 10px;
  transform: rotate(354deg);
}

#team_heading_who {
  color: #5c7af2;
  position: relative;
  float: left;
  font-size: 7rem;
  font-family: roboto;
  top: -2px;
  left: -5px;

}

#team_heading_are {
  color: #42526e;
  position: relative;
  float: left;
  font-size: 4rem;
  font-family: roboto;
  top: -45px;
  left: 48px;
}

#team_heading_we {
  color: rgba(243, 112, 90, 1);
  position: relative;
  float: left;
  font-size: 3rem;
  font-family: roboto;
  top: 4px;
  left: 12px;

}



/* Roadmap & Services Section */

#roadmap_h1 {
  color: #555555;
  position: relative;
  margin-top: 80px;
}

.roadmap-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  position: relative;
  background-color: #5c7af2;
  /* box-shadow: 0 -100px #cacbd4;  */
}

.roadmap {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.roadmap ul li {
  padding: 20px;
  background: rgba(0, 0, 0, 0.18);
  backdrop-filter: saturate(180%) blur(10px);
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.roadmap ul li:last-child {
  margin-bottom: 0;
}

.roadmap-text h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}

.roadmap-text p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.roadmap-text .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

/* Testimonial Section */
.testimonial-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  position: relative;
}

.testimonial {
  width: 80%;
  height: auto;
  max-width: 975px;
  margin: 0 auto;
  position: relative;
}

.testimonial ul li {
  padding: 25px;
  width: 350px;
  background: rgba(92, 122, 242, 1.8);
  box-shadow: 10px 10px 10px 5px rgba(48, 46, 46, 0.3);
  color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
}

.testimonial-text {
  text-align: left;
}

div #t_heading {
  position: relative;
  bottom: 20px;
}

.speech-bubble {
  position: relative;
  margin: 0.5em auto;
  padding: 1em;
  width: 6.5em;
  height: 4em;
  border-radius: 0.25em;
  transform: rotate(348deg) rotateY(188deg);
  background: #5c7af2;
  font: 2em/4 roboto;
  text-align: center;
  z-index: 1;
}

.speech-bubble p {
  transform: rotate(359deg) rotateY(191deg);
  font-size: 15px;
}

.speech-bubble:before,
.speech-bubble:after {
  position: absolute;
  z-index: -1;
  content: '';
}

.speech-bubble:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  transform: rotate(2deg) translate(.35em, -.15em) scale(1.02);
  background: #f4fbfe;
}

.speech-bubble:before {
  border: solid 0 transparent;
  border-right: solid 3.5em #f4fbfe;
  border-bottom: solid .25em #5c7af2;
  bottom: .25em;
  left: 1.25em;
  width: 0;
  height: 1em;
  transform: rotate(45deg) skewX(75deg);
}

/* Gallery */

/* Pricing */

.pricing-container {
  max-width: 975px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/web/pricing.jpeg) center center / cover no-repeat fixed;
  background-size: 85%;
}


.plan {
  display: flex;
  align-items: left;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  width: 95%;
  box-shadow: 5px 40px 30px 5px rgb(0 0 0 / 18%);
  background-color: rgba(255, 255, 255, .858);
  margin-bottom: 150px;
  border: 1px solid #d2d2d259;
}


.plan table tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.table-text {
  text-align: center;
}

.table-text td {
  text-align: center;
}

tr,
td {
  text-align: left;
}

th,
td {

  padding: 10px;
}

.price-btn {
  padding: 9px 10px;
  margin: auto 0;
  border-radius: 8px;
  text-align: center;
  color: #f1f1f1;
  background: rgba(243, 112, 90, 1);
}

/** form **/
.get-started {
  max-width: 500px;
  padding: 30px;
  text-align: left;
  border-radius: 20px 40px;
  margin-bottom: 50px;
  margin-top: 45px;
  margin-right: 5%;
  position: static;
  margin-left: 5%;
}

.form-input {
  background: transparent;
  color: #f1f1f1;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
}

form h2 {
  font-family: PT Sans;
  letter-spacing: 2px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  color: #f1f1f1;
}

form h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: PT Sans;
  letter-spacing: 2px;
  color: #f1f1f1;
}

form label {
  padding: 5px;
  font-family: roboto;
  color: #f1f1f1;
}

form input {
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 35px;
  color: #f1f1f1;
  font-family: roboto;
  background-color: transparent;
  border: 1px solid #f1f1f1;
}

.background-img {
  background: url("../images/web/form3.png") center center / cover no-repeat;
  background-size: 40%;
  background-position: 86% 40%;
  background-color: rgb(99 123 238);
  /* height: 100dvh; */

}

/* z-index */

.z-index {
  z-index: 102;
}

.z-index-neg {
  z-index: -10;
}

/* footer */

.footer {
  position: static;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: rgb(255, 255, 255);
}


/* Responsive design for desktop */
@media screen and (min-width: 750px) {

  /* Testimonials */

  .testimonial ul li:nth-child(odd) {
    clear: both;
    bottom: 50px;
    float: right;

  }

  .testimonial ul li:nth-child(even) {
    float: right;
    clear: both;
    bottom: 50px;
  }

  .testimonial {
    background: url("../images/web/text.img.jpeg") center center / cover no-repeat fixed;
    background-size: 40%;
    background-position: 25% 45%;
    border-radius: 10%;
    z-index: 1;
  }

  #t_img {
    display: none;
  }


  .blur-box {
    width: 25vw;
  }

  button {
    width: 20vw;
  }

  #square-btn {
    width: 5vw;
    left: 7.5vw;
  }

  .speech-bubble {
    display: none;
  }

  div div h1 {
    font-size: 2.5em;
  }

  div div h4 {
    font-size: 1.2em;
  }
}

/* Responsive design above screen width of 335px */
@media screen and (min-width: 335px) {
  .roadmap:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background: rgba(0, 0, 0, 0.18);
    backdrop-filter: saturate(180%) blur(10px);
  }

  .roadmap ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }

  .roadmap ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }

  .roadmap ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }

  .roadmap ul li::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #42526e;
    top: 0px;
  }

  .roadmap ul li:nth-child(odd)::after {
    transform: translate(50%, -50%);
    right: -30px;
  }

  .roadmap ul li:nth-child(even)::after {
    transform: translate(-50%, -50%);
    left: -30px;
  }

  .roadmap-text .date {
    position: absolute;
    top: -30px;
  }

  .roadmap ul li:hover::after {
    background-color: rgba(243, 112, 90, 1);
  }
}

/* Responsive design for ipad & mobile */
@media screen and (max-width: 1253px) {
  .btn-text {
    display: none;
  }

  .btn .active-icon {
    display: inline;
    color: #f1f1f1;
  }

}

@media screen and (max-width: 755px) {

  .testimonial::after,
  .testimonial::before {
    display: none;
  }

  .testimonial ul li {
    width: 80%;
  }

  .testimonial ul li:nth-child(odd) {
    float: left;
    clear: right;

  }

  .testimonial ul li:nth-child(even) {
    float: right;
    clear: left;

  }

  #t_img {
    width: 250px;
    position: relative;
    z-index: -10;
  }
}


@media screen and (max-width: 700px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .row_revert {
    display: flex;
    flex-direction: inherit;
  }

  /* .mobile-responsive {
    display: none;
  } */

  nav .nav-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgb(251, 247, 247);
    border-radius: 0 0 10px 10px;
    border-left: 4px solid rgba(139, 139, 148, 0.04);
    border-right: 4px solid rgba(139, 139, 148, 0.04);
    border-bottom: 4px solid rgba(139, 139, 148, 0.04);
  }

  .border-top {
    border-top: 1px solid rgba(144, 140, 140, 0.1);
  }

  nav ul li:hover {
    background-color: rgba(139, 139, 148, 0.04);
  }

  nav:has(#input-6:checked) .nav-list {
    display: block;
  }

  nav:has(#input-6:checked) .toggle-text {
    display: inline;
  }

  .get-started {
    max-width: 500px;
    padding: 42px;
    text-align: left;
    border-radius: 28px;
    margin-bottom: auto;
    margin-top: 15px;
    margin-right: auto;
    position: static;
    margin-left: auto;
    height: 95dvh;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .background-img {
    background-size: 85%;
    background-position: 40% 95%;
  }
}


@media screen and (max-width: 310px) {
  .chevron {
    display: none;
  }
}